<html>
  <head>
          <title>Animal, Mineral, Vegetable
          </title>
          <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
 <body>

<h1>The Results are in!</h1>

<br><br>

<p><%= params.inspect %></p>

<br><br><br><br>


<p><%= @results.display.inspect %></p>

</body>