<html>
  <head>
          <title>Animal, Mineral, Vegetable
          </title>
          <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
 <body>

<h1>Form Submission Results</h1>
<p><%= params.inspect %></p>
<p><%= results.thisisyou %></p>
</body>