<body>

  <div class="wrap_it">

    <div class="NES">

        <img src='/img/nes.jpg' alt="NES cartridge" width="720" height="880">

    </div>


    <div class="intro">

        <h2><p>Lets check<br>Is it your birthday?</p></h2>

        <img src="/img/space.png"><br><br>
        <p>By digits</p>

      	<form action="/birthday" method="POST">

          <label for="POST-month">Enter Month</label>
          <input maxlength="2" size="4" id="POST-month" type="text" name="birthday[0]">

          <br>

          <label for="POST-day">Enter Day</label>
          <input maxlength="2" size="8" id="POST-day" type="text" name="birthday[1]">

      	  <br><br><br>

      	  <p>I'm excited.  Are you excited?</p>

      	  <button type="submit" value="submit">Play Hard</button>
      	</form>  
    </div>

    <div class="nes_twitter">

      <a class="twitter-timeline" href="https://twitter.com/search?q=%23nintendo" data-widget-id="413781571779309568" width="700" height="840">Tweets about "#nintendo"</a>

      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



    </div>

  </div>

</body>
