<!DOCTYPE html>
<html>
  <head>
  	<title>Are you a Animal, Vegetable or Mineral?
  	</title>
  	<link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>

  	<h1>Are you a Animal, Vegetable or Mineral?</h1>

  	<form action="/avm" method="POST">

	  <label for="Post-item"><b>One of these is a secret of yours</b></label>
	  <br><br>
	  <input type="radio" id="Post-item" name="question[0]" value="animal">
	  	"You have fur."
	  <br>
	  <input type="radio" id="Post-item" name="question[0]" value="vegetable">
	  	"You have a pointy head"
	  <br>
	  <input type="radio" id="Post-item" name="question[0]" value="mineral">
	  	"You make food taste better."
	  <br><br>

	  <label for="Post-item"><b>Your friends would say this about you</b></label>
	  <br><br>
	  <input type="radio" id="Post-item" name="question[1]" value="animal">
	  	"You have claws."
	  <br>
	  <input type="radio" id="Post-item" name="question[1]" value="vegetable">
	  	"Rabbits chew on you."
	  <br>
	  <input type="radio" id="Post-item" name="question[1]" value="mineral">
	  	"You like to shake it."
	  <br><br>

	  <label for="Post-item"><b>Which of these would best describe you?</b></label>
	  <br><br>
	  <input type="radio" id="Post-item" name="question[2]" value="animal">
	  	"You are brave."
	  <br>
	  <input type="radio" id="Post-item" name="question[2]" value="vegetable">
	  	"You're naturally sweet."
	  <br>
	  <input type="radio" id="Post-item" name="question[2]" value="mineral">
	  	"Having too much of you be deadly."

	  <br><br>
	  <button type="submit" value="avm">Ready to find out which you are?</button>
	</form>  


  </body>
</html>