<!DOCTYPE html>
<html>
  <head>
  	<title>Are you a Animal, Vegetable or Mineral?
  	</title>
  	<link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>

	  <label for="Post-item">Question 1</label>
	  <br>
	  <input type="radio" id="animal" name="item" value="animal">
	  	"Animal Statement"
	  <br>
	  <input type="radio" id="vegetable" name="item" value="vegetable">
	  	"Vegetable Statement"
	  <br>
	  <input type="radio" id="mineral" name="item" value="mineral">
	  	"MineralStatement"
	  <br><br>

	  <label for="Post-item">Question 2</label>
	  <br>
	  <input type="radio" id="animal" name="item" value="animal">
	  	"Animal Statement"
	  <br>
	  <input type="radio" id="vegetable" name="item" value="vegetable">
	  	"Vegetable Statement"
	  <br>
	  <input type="radio" id="mineral" name="item" value="mineral">
	  	"MineralStatement"
	  <br><br>

	  <label for="Post-item">Question 3</label>
	  <br>
	  <input type="radio" id="animal" name="item" value="animal">
	  	"Animal Statement"
	  <br>
	  <input type="radio" id="vegetable" name="item" value="vegetable">
	  	"Vegetable Statement"
	  <br>
	  <input type="radio" id="mineral" name="item" value="mineral">
	  	"MineralStatement"
	  <br><br>
	  <button type="submit" value="avm">Ready to find out which you are?</button>
	</form>  


  </body>
</html>